.buttonAddTask {
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  padding-block: 5px;
  padding-inline: 10px;
}

.buttonAddTask:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.wrapperButtonsFilter {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttonFilter {
  background: none;
  border: none;
  padding: 0 0 5px 0;
  cursor: pointer;
  user-select: none;
  font-size: 24px;
  color: #757575;
}

.buttonActiveFilter {
  color: dodgerblue;
  box-shadow: 0 2px 0 dodgerblue;
}

.buttonFilter:hover:not(.buttonActiveFilter) {
  box-shadow: 0 2px 0 #757575;
}

.buttonTaskItem {
  width: 50px;
  height: 45px;
  margin-right: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat
}

.buttonTaskItem:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
}

.edit {
  background-color: dodgerblue;
  background-image: url('../../../assets/icons/buttonIcons/edit.svg');

}

.delete {
  background-color: indianred;
  background-image: url('../../../assets/icons/buttonIcons/delete.svg');
}

.save {
  background-color: dodgerblue;
  background-image: url('../../../assets/icons/buttonIcons/save.svg');
}

.cancel {
  background-color: indianred;
  background-image: url('../../../assets/icons/buttonIcons/cancel.svg');
}