.checkbox {
  position: relative;
  margin-inline: 15px;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid var(--color-check-box);
  cursor: pointer;
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background-check-box);
  background-image: url("../../../assets/icons/checkBox/check.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: 500ms;
}

.checkbox:checked::after {
  width: 1.4rem;
  height: 1.4rem;
  transition: 500ms;
}

.checkbox:hover {
  box-shadow: 0 0 3px 3px var(--color-box-shodow);
}