.form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  background-color: var(--color-secondary);
  box-shadow: 0 0 1px 1px var(--color-shodow);
  border-radius: 6px;
}

.inputWrapper {
  position: relative;
  flex: 1;
}

.todoItemInput {
  border: none;
  width: 90%;
  margin-right: 10px;
  font-size: 22px;
}

.active {
  box-shadow: 0 0 3px 3px var(--color-shodow);
}