.form {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  height: 40px;
}

.inputWrapper {
  position: relative;
  flex: 1;
}

.input {
  width: 93%;
  height: 40px;
  padding: 0 5px 0;
  font-size: 16px;
}

.validMessage {
  width: 90%;
  height: 15px;
  top: 16px;
  left: 6px;
}

.validMessageVisible {
  top: 40px;
  box-shadow: 0 0 1px 1px var(--color-danger);
}

.button {
  width: 110px;
  height: 40px;
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 16px;
}