.addTask {
  width: 90%;
  height: 15px;
  left: 6px;
}

.addTaskVisible {
  top: 40px;
  box-shadow: 0 0 1px 1px var(--color-danger);
}

.taskItem {
  width: 85%;
  height: 30px;
  left: 4px;
}

.taskItemVisible {
  top: 28px;
  box-shadow: 0 0 1px 1px var(--color-danger);
}