.validText {
  position: absolute;
  display: block;
  left: 6px;
  background-color: white;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  padding: 4px;
  color: brown;
  font-size: 14px;
  z-index: 0;
  text-align: center;
}

.input {
  width: 90%;
  top: 40px;
}

.textarea {
  width: 83%;
  top: 55px;
}