.button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: 6px;
}

.button:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}