.wrapperButtons {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
  background: none;
  border: none;
  padding: 0 0 5px 0;
  cursor: pointer;
  user-select: none;
  font-size: 24px;
  color: #757575;
}

.buttonActive {
  color: dodgerblue;
  box-shadow: 0 2px 0 dodgerblue;
}

.button:hover:not(.buttonActive) {
  box-shadow: 0 2px 0 #757575;
}

.wrapperTaskList {
  overflow-y: auto;
  width: 97%;
  padding: 1px 10px 1px 1px;
}