.form {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
}

.inputWrapper {
  flex: 1;
}

.input {
  width: 93%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 5px 0;
  border-radius: 6px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.input:focus {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
}

.validText {
  position: absolute;
  top: 37px;
  left: 6px;
  width: 65%;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  padding: 4px;
  color: brown;
  font-size: 14px;
  z-index: -1;
  text-align: center;
}

.noActive {
  display: none;
}

.active {
  display: block;
}

.button {
  width: 110px;
  height: 100%;
  border: none;
  border-radius: 6px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  padding-block: 5px;
  padding-inline: 10px;
}

.button:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}