.input {
  position: relative;
  outline: none;
  border: 1px solid var(--color-shodow);
  background-color: var(--color-secondary);
  border-radius: 6px;
  z-index: 1;
}

.input:hover, .input:focus {
  box-shadow: 0 0 3px 3px var(--color-shodow);
}

.input:disabled {
  box-shadow: none;
}

