body {
  margin: 0;
  background-color: var(--color-background);
}

.main {
  display: flex;
  justify-content: center;
  max-height: 815px;
  padding-top: 40px;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 400px;
  background-color: var(--color-background-todo);
  box-shadow: 0 0 5px 0 var(--color-box-shodow);
  border-radius: 10px;
}

.wrapperTaskList {
  overflow-y: auto;
  width: 97%;
  padding: 1px 10px 1px 1px;
}