:root {
  --color-primary: dodgerblue;
  --color-secondary: white;
  --color-success: #4eb771;
  --color-danger: #ee6666;
  --color-outline: #757575;
  --color-shodow: rgba(0, 0, 0, 0.4);
  --color-background: lightslategray;
  --color-background-alt: aliceblue;
}